Source: leap-keymanager
Maintainer: Micah Anderson <micah@leap.se>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 9), dh-python
Standards-Version: 3.9.6

Package: leap-keymanager
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, gnupg
Enhances: gnupg
Description: LEAP's Key Manager
 The Key Manager is a trusted user agent that is responsible for storing a
 database of all the keys for the user, updating these keys, and auditing the
 endorsements of the user’s own keys. Typically, the key manager will run on the
 user’s device, but might be running on any device the user chooses to trust.

